NodeRed/flows.json
[
    {
        "id": "9dc23c3c438fe528",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e81160f64afd1a6d",
        "type": "mqtt in",
        "z": "9dc23c3c438fe528",
        "name": "",
        "topic": "codigoIoT/mqtt/clima",
        "qos": "0",
        "datatype": "utf8",
        "broker": "1cf4394e3811019a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "5fc422b36ea036c1",
                "4feca13514cbcf9c"
            ]
        ]
    },
    {
        "id": "5fc422b36ea036c1",
        "type": "json",
        "z": "9dc23c3c438fe528",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "32a39d231fc5e2a6",
                "c9f24855396bef27"
            ]
        ]
    },
    {
        "id": "32a39d231fc5e2a6",
        "type": "function",
        "z": "9dc23c3c438fe528",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 120,
        "wires": [
            [
                "78c748f29385bad5",
                "bde84467e0641805"
            ]
        ]
    },
    {
        "id": "c9f24855396bef27",
        "type": "function",
        "z": "9dc23c3c438fe528",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 240,
        "wires": [
            [
                "307407065e595996",
                "bde84467e0641805"
            ]
        ]
    },
    {
        "id": "78c748f29385bad5",
        "type": "ui_gauge",
        "z": "9dc23c3c438fe528",
        "name": "",
        "group": "7b77f7a0455c993d",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "8",
        "max": "45",
        "colors": [
            "#62a0ea",
            "#26a269",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "24",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "307407065e595996",
        "type": "ui_gauge",
        "z": "9dc23c3c438fe528",
        "name": "",
        "group": "7b77f7a0455c993d",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#5e5c64",
            "#26a269",
            "#e01b24"
        ],
        "seg1": "30",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "bde84467e0641805",
        "type": "ui_chart",
        "z": "9dc23c3c438fe528",
        "name": "",
        "group": "4ff6780d6ae50d53",
        "order": 1,
        "width": 10,
        "height": 6,
        "label": "Historico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c01c28",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4feca13514cbcf9c",
        "type": "debug",
        "z": "9dc23c3c438fe528",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "1cf4394e3811019a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7b77f7a0455c993d",
        "type": "ui_group",
        "name": "Indicadores",
        "tab": "c4c1c11fc262b133",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ff6780d6ae50d53",
        "type": "ui_group",
        "name": "Gráfica",
        "tab": "c4c1c11fc262b133",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4c1c11fc262b133",
        "type": "ui_tab",
        "name": "Clima local",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]